                                 
.me_photo{
    background-image: url("/me/1.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 400px;
    @apply
    md:h-[600px]
    ;
    margin-inline: auto;
    &.take_off{
      background-image: url("/me/27.png");
      animation: takeOff 750ms linear;
    }
    &.take_on{
      background-image: url("/me/1.png");
      animation: takeOn 750ms linear;
    }
}
.front_end{
    position: relative;
    margin-inline: auto;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
    h2:nth-child(1){
      padding: 0.5rem;
    }
    h2:nth-child(2){
      padding: 0.5rem;
      position: absolute;
      top: 0;
      left: 0;
      background-color: white;
      color: black;
      clip-path: polygon(0 0, 100% 0, 100% 0, 0% 100%);
    }
}

@keyframes takeOff {
  from{
    background-image: url("/me/1.png");
  }
  3%{
    background-image: url("/me/2.png");
  }
  6%{
    background-image: url("/me/3.png");
  }
  9%{
    background-image: url("/me/4.png");
  }
  12%{
    background-image: url("/me/5.png");
  }
  15%{
    background-image: url("/me/6.png");
  }
  18%{
    background-image: url("/me/7.png");
  }
  21%{
    background-image: url("/me/8.png");
  }
  24%{
    background-image: url("/me/9.png");
  }
  27%{
    background-image: url("/me/10.png");
  }
  30%{
    background-image: url("/me/11.png");
  }
  33%{
    background-image: url("/me/12.png");
  }
  36%{
    background-image: url("/me/13.png");
  }
  39%{
    background-image: url("/me/14.png");
  }
  42%{
    background-image: url("/me/15.png");
  }
  45%{
    background-image: url("/me/16.png");
  }
  48%{
    background-image: url("/me/17.png");
  }
  51%{
    background-image: url("/me/18.png");
  }
  54%{
    background-image: url("/me/19.png");
  }
  57%{
    background-image: url("/me/20.png");
  }
  60%{
    background-image: url("/me/21.png");
  }
  63%{
    background-image: url("/me/22.png");
  }
  66%{
    background-image: url("/me/23.png");
  }
  69%{
    background-image: url("/me/24.png");
  }
  72%{
    background-image: url("/me/25.png");
  }
  75%{
    background-image: url("/me/26.png");
  }
  78%{
    background-image: url("/me/27.png");
  }
}

@keyframes takeOn {
  from{
    background-image: url("/me/27.png");
  }
  3%{
    background-image: url("/me/26.png");
  }
  6%{
    background-image: url("/me/25.png");
  }
  9%{
    background-image: url("/me/24.png");
  }
  12%{
    background-image: url("/me/23.png");
  }
  15%{
    background-image: url("/me/22.png");
  }
  18%{
    background-image: url("/me/21.png");
  }
  21%{
    background-image: url("/me/20.png");
  }
  24%{
    background-image: url("/me/19.png");
  }
  27%{
    background-image: url("/me/18.png");
  }
  30%{
    background-image: url("/me/17.png");
  }
  33%{
    background-image: url("/me/16.png");
  }
  36%{
    background-image: url("/me/15.png");
  }
  39%{
    background-image: url("/me/14.png");
  }
  42%{
    background-image: url("/me/13.png");
  }
  45%{
    background-image: url("/me/12.png");
  }
  48%{
    background-image: url("/me/11.png");
  }
  51%{
    background-image: url("/me/10.png");
  }
  54%{
    background-image: url("/me/9.png");
  }
  57%{
    background-image: url("/me/8.png");
  }
  60%{
    background-image: url("/me/7.png");
  }
  63%{
    background-image: url("/me/6.png");
  }
  66%{
    background-image: url("/me/5.png");
  }
  69%{
    background-image: url("/me/4.png");
  }
  72%{
    background-image: url("/me/3.png");
  }
  75%{
    background-image: url("/me/2.png");
  }
  78%{
    background-image: url("/me/1.png");
  }
}